Source: ros-kilted-gz-transport-vendor
Section: misc
Priority: optional
Maintainer: Addisu Z. Taddese <addisuzt@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), cmake, cppzmq-dev, libprotobuf-dev, libprotoc-dev, libsqlite3-dev, libzmq3-dev, pkg-config, protobuf-compiler, pybind11-dev, python3-dev, python3-psutil, python3-pytest, ros-kilted-ament-cmake-copyright <!nocheck>, ros-kilted-ament-cmake-core, ros-kilted-ament-cmake-lint-cmake <!nocheck>, ros-kilted-ament-cmake-test, ros-kilted-ament-cmake-vendor-package, ros-kilted-ament-cmake-xmllint <!nocheck>, ros-kilted-gz-cmake-vendor, ros-kilted-gz-math-vendor, ros-kilted-gz-msgs-vendor, ros-kilted-gz-tools-vendor, ros-kilted-gz-utils-vendor, uuid-dev, ros-kilted-ros-workspace
Homepage: https://github.com/gazebosim/gz-transport
Standards-Version: 3.9.2

Package: ros-kilted-gz-transport-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cppzmq-dev, libprotobuf-dev, libprotoc-dev, libsqlite3-dev, libzmq3-dev, pkg-config, protobuf-compiler, pybind11-dev, python3-dev, python3-psutil, python3-pytest, ros-kilted-gz-cmake-vendor, ros-kilted-gz-math-vendor, ros-kilted-gz-msgs-vendor, ros-kilted-gz-tools-vendor, ros-kilted-gz-utils-vendor, uuid-dev, ros-kilted-ros-workspace
Description: Vendor package for: gz-transport14 14.0.1 Gazebo Transport: Provides fast and efficient asynchronous message passing, services, and data logging.
