Source: ros-jazzy-gz-transport-vendor
Section: misc
Priority: optional
Maintainer: Addisu Z. Taddese <addisuzt@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-core, ament-cmake-lint-cmake <!nocheck>, ament-cmake-xmllint <!nocheck>, libprotobuf-dev, libprotoc-dev, libsqlite3-dev, libzmq3-dev, pkg-config, protobuf-compiler, pybind11-dev, python3-ament-cmake-test, python3-dev, python3-psutil, python3-pytest, ros-jazzy-gz-cmake-vendor, ros-jazzy-gz-math-vendor, ros-jazzy-gz-msgs-vendor, ros-jazzy-gz-tools-vendor, ros-jazzy-gz-utils-vendor, uuid-dev, ros-jazzy-ros-workspace
Homepage: https://github.com/gazebosim/gz-transport
Standards-Version: 3.9.2

Package: ros-jazzy-gz-transport-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libprotobuf-dev, libprotoc-dev, libsqlite3-dev, libzmq3-dev, pkg-config, protobuf-compiler, pybind11-dev, python3-dev, python3-psutil, python3-pytest, ros-jazzy-gz-cmake-vendor, ros-jazzy-gz-math-vendor, ros-jazzy-gz-msgs-vendor, ros-jazzy-gz-tools-vendor, ros-jazzy-gz-utils-vendor, uuid-dev, ros-jazzy-ros-workspace
Description: Vendor package for: gz-transport13 13.2.0 Gazebo Transport: Provides fast and efficient asynchronous message passing, services, and data logging.
